/* recipelist.css */

.hoverable:hover {
    background-color: #f5f5f5; /* Change to the desired hover background color */
}

/* RecipeList.css */

.table {
    /* Other table styles */
    font-family: "Marker Felt", fantasy; /* Apply the "Marker Felt" font family */
}

/* RecipeList.css */

.background-container {
  background-image: url('../Imgs/My_Bkg.png');
  background-position: center;
  padding: 20%; /* Adjust the padding as needed to create space around the table */
  width: 100%; /* Expand the container to cover the entire width */
  border-radius: 20px; /* Add rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a box shadow */
}

  
  .table-wrapper {
    position: relative;
    z-index: 1; /* Ensure the table stays above the background */
    margin: 0 auto; /* Center the table horizontally */
    max-width: 800px; /* Adjust the maximum width of the table */
  }
  
  .create-btn {
    position: relative; /* Change to relative positioning */
    text-align: center; /* Center-align the button */
    margin-bottom: 20px; /* Add margin to create space from the recipe list */
  }